export RUST_LOG=debug # info, warn, error
export RUST_BACKTRACE=1
export PALSERVER_ADDR=127.0.0.1:25575 # same to RCONPort, change it to yours
export PALSERVER_PASSWORD=adminPasswordHere # same to AdminPassword, change it to yours
export GATEWAY_ADDR=127.0.0.1:8080 # both frontend and backend use this address
